body {
  font-family: gill sans mt;
  letter-spacing: 2px;
  line-height: 1.3em;
  font-size: 16px;
}
.mainMenu {
  background: none repeat scroll 0% 0% #070e0e;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 3.75em;
  position: fixed;
  left: 0px;
  right: 0px;
  top: -1em;
  list-style-type: none;
  padding-left: 0em;
  z-index: 20;
  -webkit-filter: drop-shadow(0px 5px 5px rgba(0,0,0,0.9));
  -moz-filter: drop-shadow(0px 5px 5px rgba(0,0,0,0.9));
  -o-filter: drop-shadow(0px 5px 5px rgba(0,0,0,0.9));
  -ms-filter: drop-shadow(0px 5px 5px rgba(0,0,0,0.9));
  filter: drop-shadow(0px 5px 5px rgba(0,0,0,0.9));
}
.mainMenu_items {
  display: flex;
}
.mainMenu_items a {
  text-decoration: none;
  color: #00dbff;
  font-size: 20px;
  line-height: 3.75rem;
  text-align: center;
  padding: 0em;
  margin: 0em;
}
.mainMenu_items a:hover {
  border-bottom: 5px dashed #00f;
  transition: 0.5s;
}
.mainMenu_items img {
  padding-top: 0.25em;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: fixed;
  width: 100%;
  margin-top: 7em;
  background-image: url("../pics/fondo2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 350px;
  line-height: 2em;
}
.avatar {
  align-self: auto;
  border-radius: 2em;
  background: rgba(3,5,3,0.6);
  padding: 1em 1em;
  margin: 0em 4em;
  width: 18em;
  -webkit-filter: drop-shadow(0px 5px 5px rgba(0,0,0,0.9));
  -moz-filter: drop-shadow(0px 5px 5px rgba(0,0,0,0.9));
  -o-filter: drop-shadow(0px 5px 5px rgba(0,0,0,0.9));
  -ms-filter: drop-shadow(0px 5px 5px rgba(0,0,0,0.9));
  filter: drop-shadow(0px 5px 5px rgba(0,0,0,0.9));
}
.avatar img {
  border: 5px solid #fff;
  border-radius: 10px 50px 5px 60px;
  border-color: #fff;
}
.header-link {
  color: #fff;
  font-size: 2.2em;
  font-weight: bold;
  color: #fff;
  text-shadow: 3px 3px 5px #000;
  text-decoration: none;
}
.header-name {
  color: #fff;
  font-size: 1.5em;
  text-shadow: 3px 3px 5px #000;
  margin: 0em;
}
.tec {
  align-self: auto;
  color: #fff;
  font-size: 1.8em;
  font-weight: bold;
  text-shadow: 3px 3px 5px #000;
  border-radius: 2em;
  background: rgba(3,5,3,0.6);
  width: 11em;
  margin-left: 2.3em;
  -webkit-filter: drop-shadow(0px 5px 5px rgba(0,0,0,0.9));
  -moz-filter: drop-shadow(0px 5px 5px rgba(0,0,0,0.9));
  -o-filter: drop-shadow(0px 5px 5px rgba(0,0,0,0.9));
  -ms-filter: drop-shadow(0px 5px 5px rgba(0,0,0,0.9));
  filter: drop-shadow(0px 5px 5px rgba(0,0,0,0.9));
}
.content1 {
  position: relative;
  top: 35em;
  margin-top: 5em;
  background: #1e1e1e;
  color: #00dbff;
  margin: 2em 0em;
  padding: 4em 9em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: auto;
  justify-content: space-between;
}
.content1_item {
  width: 300px;
  padding: 0em;
  margin: 0em;
  -webkit-filter: drop-shadow(4px 3px 2px #000);
  -moz-filter: drop-shadow(4px 3px 2px #000);
  -o-filter: drop-shadow(4px 3px 2px #000);
  -ms-filter: drop-shadow(4px 3px 2px #000);
  filter: drop-shadow(4px 3px 2px #000);
}
.content1_img {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  -webkit-filter: drop-shadow(0px 5px 5px rgba(0,0,0,0.9));
  -moz-filter: drop-shadow(0px 5px 5px rgba(0,0,0,0.9));
  -o-filter: drop-shadow(0px 5px 5px rgba(0,0,0,0.9));
  -ms-filter: drop-shadow(0px 5px 5px rgba(0,0,0,0.9));
  filter: drop-shadow(0px 5px 5px rgba(0,0,0,0.9));
}
.p-1 {
  top: 6em;
}
.p-2 {
  top: 9em;
}
.footer_img {
  display: flex;
  height: 200px;
  position: relative;
  top: 425px;
  background: #1e1e1e;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 0em;
}
.footer_img img {
  height: 125px;
  width: auto;
  -webkit-filter: drop-shadow(0px 5px 5px rgba(0,0,0,0.9));
  -moz-filter: drop-shadow(0px 5px 5px rgba(0,0,0,0.9));
  -o-filter: drop-shadow(0px 5px 5px rgba(0,0,0,0.9));
  -ms-filter: drop-shadow(0px 5px 5px rgba(0,0,0,0.9));
  filter: drop-shadow(0px 5px 5px rgba(0,0,0,0.9));
}
.footer_img a:hover {
  border-bottom: 5px dashed #00f;
  transition: 0.5s;
  -webkit-filter: drop-shadow(16px 16px 10px rgba(0,0,0,0.9));
  -moz-filter: drop-shadow(16px 16px 10px rgba(0,0,0,0.9));
  -o-filter: drop-shadow(16px 16px 10px rgba(0,0,0,0.9));
  -ms-filter: drop-shadow(16px 16px 10px rgba(0,0,0,0.9));
  filter: drop-shadow(16px 16px 10px rgba(0,0,0,0.9));
}
.blank {
  width: 100%;
  position: relative;
  top: 493px;
  background: #fff;
  height: 170px;
}
.content2 {
  display: float;
  position: relative;
  top: 700px;
  background: #1e1e1e;
}
.img_article {
  width: 128px;
  height: 128px;
  margin: 2em;
  -webkit-filter: drop-shadow(0px 5px 5px rgba(0,0,0,0.9));
  -moz-filter: drop-shadow(0px 5px 5px rgba(0,0,0,0.9));
  -o-filter: drop-shadow(0px 5px 5px rgba(0,0,0,0.9));
  -ms-filter: drop-shadow(0px 5px 5px rgba(0,0,0,0.9));
  filter: drop-shadow(0px 5px 5px rgba(0,0,0,0.9));
}
.img_article:hover {
  transition: 0.5s;
  height: 6em;
  -webkit-filter: drop-shadow(16px 16px 10px rgba(0,0,0,0.9));
  -moz-filter: drop-shadow(16px 16px 10px rgba(0,0,0,0.9));
  -o-filter: drop-shadow(16px 16px 10px rgba(0,0,0,0.9));
  -ms-filter: drop-shadow(16px 16px 10px rgba(0,0,0,0.9));
  filter: drop-shadow(16px 16px 10px rgba(0,0,0,0.9));
}
.titulo {
  text-align: center;
  vertical-align: middle;
  font-size: 3em;
  color: #fff;
  border-radius: 2em;
  background: rgba(3,5,3,0.6);
}
.pf-design {
  top: 12em;
}
.spacer {
  margin: 0em 1em;
}
.space-b {
  justify-content: space-around;
}
@media screen and (max-width: 660px) {
  .content1 {
    justify-content: space-around;
    padding: 1em;
    height: auto;
    top: 0px;
  }
  .header {
    margin-top: 10px;
    height: auto;
    justify-content: space-around;
    flex-flow: flex-direction flex-wrap;
    position: relative;
  }
  .mainMenu {
    flex-direction: row;
    align-items: center;
    height: auto;
    margin: 0em;
    position: relative;
    left: 0px;
  }
  .content1_img {
    justify-content: center;
  }
  .content1_img img {
    width: 250px;
    height: auto;
    padding: 2em 0em;
  }
  .tec {
    display: none;
  }
  .footer_img {
    top: 0px;
    height: auto;
  }
  .footer_img img {
    height: 100px;
    width: 100px;
  }
  .blank {
    display: none;
  }
  .img_article {
    height: 64px;
    width: 64px;
    margin: 1em;
  }
  .img_article:hover {
    transition: 0.5s;
    height: 3em;
  }
  .construccion img {
    width: 100%;
  }
}
