@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-l0fhbb');
	src:url('../fonts/icomoon.eot?#iefix-l0fhbb') format('embedded-opentype'),
		url('../fonts/icomoon.woff?-l0fhbb') format('woff'),
		url('../fonts/icomoon.ttf?-l0fhbb') format('truetype'),
		url('../fonts/icomoon.svg?-l0fhbb#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-filter-b-and-w:before {
	content: "\e601";
}

.icon-star-outline:before {
	content: "\e600";
}

.icon-home:before {
	content: "\e900";
}

.icon-address-book:before {
	content: "\e944";
}

.icon-menu:before {
	content: "\e9bd";
}

.icon-mail:before {
	content: "\ea83";
}

.icon-twitter2:before {
	content: "\ea92";
}

.icon-github:before {
	content: "\eab1";
}

