include header_en
body
  nav
    ul.mainMenu.animated.slideInDown
      li.mainMenu_items
        a(href='index_en.html')  Y_web
      li.mainMenu_items
        a.icon-filter-b-and-w(href='design_en.html') Projects
      li.mainMenu_items
        a(href='design_es.html')
          img(src='pics/usa.png', alt='English', height='50', width='50')
  section.content1.p-1
    article.content1_item
      h2 Sfotipy proyect
      p
        | Design made by Platzi and carried out by me during their professional frontend course, responsive design and breakpoints for tablets and desktop
    .content1_img
      article
        img(src='pics/proyectos/mobile.png', height='200', alt='')
      .spacer
      article
        img(src='pics/proyectos/tablet.png', height='200', alt='')
      .spacer
      article
        img(src='pics/proyectos/desktop.png', height='200', alt='')
  section.content1.p-2
    article.content1_item
      h2 MariaE Accessories
      p
        | Webpage I design for a company who was looking to show their product branding in a flat but fancy landpage
    .content1_img
      article
        img(src='pics/proyectos/mariae.png', height='200', alt='')
      .spacer
      article
        img(src='pics/proyectos/mariae2.png', height='200', alt='')
  section.content1.p-3.left
    article.content1_item
      h2 Test game HTML5
      p
        | Made using HTML5, canvas to render the characters and javascript to give them life
    article.content1_img.padding-left
      img(src='pics/game1.png', alt='', height='200')
  footer
    figure.footer_img.pf-design
      a(href='https://twitter.com/yesox126')
        img(src='pics/f3.png', alt='Twitter', width='150', height='150')
        p Follow me
      a(href='mailto:yeso126@hotmail.com')
        img(src='pics/f1.png', alt='Mail me', width='150', height='150')
        p Contact me
      a(href='https://github.com/yeso126')
        img(src='pics/f2.png', alt='Github', width='150', height='150')
        p Github
