footer
   figure.footer_img
     a(href='https://twitter.com/yesox126')
       img(src='pics/f3.png', alt='Twitter', width='150', height='150')
       p Follow me
     a(href='mailto:yeso126@hotmail.com')
       img(src='pics/f1.png', alt='Mail me', width='150', height='150')
       p Contact me
     a(href='https://github.com/yeso126')
       img(src='pics/f2.png', alt='Github', width='150', height='150')
       p Github 
script(src='http://code.jquery.com/jquery-latest.min.js')
script(src='js/scripts.js')