doctype html
html(lang='es')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
    title Yweb
    link(rel='stylesheet', href='css/normalize.css')
    link(rel='stylesheet', href='css/animate.css')
    link(rel='stylesheet', href='css/estilos.css')
    link(rel='stylesheet', href='css/style.css')
    script(scr='js/prefixfree.min.js').
  body
    nav
      ul.mainMenu.animated.slideInDown
        li.mainMenu_items
          a(href='index_es.html')  Y_web
        li.mainMenu_items
          a.icon-filter-b-and-w(href='design_es.html') Proyectos
        li.mainMenu_items
          a(href='index_en.html')
            img(src='pics/col.png', alt='Español', height='50', width='50')
    header.header.animated.fadeInUp
      article.tec
        ul.tec-izq
          li HTML5
          li CSS3
          li JavaScript
        ul.tec-der
          li Web Apps
          li Responsive design
          li Foundation 5
          li Jquery
          li Mobile First
      figure.avatar
        img(alt='imagen personal', src='pics/avatar.jpg', width='150px', height='183px')
        figcaption.header-imageDescription
          a.header-link(href='https://twitter.com/yesox126', target='black') @yesox126
        p.header-name
          | Yesid Ghisays 
          br
          |  Desarrollador Frontend
    section
      article.content1.space-b
        p.content1_item
          | Hola ! Soy Yesid (@yesox126) un entusiasta estudiante de platzi y desarrollador frontend freelancer, que le encanta diseñar y codear webpages y webapps, puedo hacer paginas de alto rendimiento y aplicaciones optimizadas para funcionar apropiadamente en cualquier dispositivo/navegador, diseño responsive para acomodar el contenido a dispositivos moviles e inclusive smart tvs, diseño plano o realista dentro de la fecha limite del proyecto.
        p.content1_item
          | Mi meta es cumplir y sobrepasar los requisitos del cliente usando las tecnologias mas modernas disponibles en el mercado, manteniendo retrocompatibilidad con plataformas mas estandarizadas.
        div
          img.img_article(src=' pics/html.png', alt='Html5')
          img.img_article(src=' pics/css.png', alt='Css')
          img.img_article(src=' pics/js.png', alt='JavaScript')
    .blank
    footer
      figure.footer_img
        a(href='https://twitter.com/yesox126')
          img(src='pics/f3.png', alt='Twitter', width='150', height='150')
          p Sígueme
        a(href='mailto:yeso126@hotmail.com')
          img(src='pics/f1.png', alt='Mail me', width='150', height='150')
          p Contactame
        a(href='https://github.com/yeso126')
          img(src='pics/f2.png', alt='Github', width='150', height='150')
          p Mira mi codigo
  script(src='http://code.jquery.com/jquery-latest.min.js')
  script(src='js/scripts.js')


